
body {
   background-color: #f8f9fa; 
}
#nav-style {
    background-color: rgb(64, 97, 141);
    border-radius: 5px;
    padding: 10px;
}
#nav-style h2, #nav-style p {
    color: rgb(229, 234, 240);
}
.nav-link {
    color: rgb(169, 171, 173);
    font-weight: 600;
}
.tab-content {
    padding: 20px;
    padding-top: 0px;
}
label {
    margin-left: 15px;
}
button {
    margin-left: 25px;
}
.style-flex {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
 .py-5 {
     padding-top: 3px!important;
 }
 ul.nav-tabs {
     border: 0px solid gold;
 }
 ul > li:hover {
     background-color: rgb(169, 171, 173);
 }
 ul > li:active {
    background-color: rgb(169, 171, 173);
}
.btn-group {
    display: flex;
    justify-content: center;
}

