
body {
   background-color: #f8f9fa; 
}
#nav-style {
    background-color: rgb(64, 97, 141);
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 20px;
    padding-left: 0;
}
.nav-item {
    padding-top: 20px;
    line-height: 3;
    border: 0px solid white!important;
}

#nav-style h2, #nav-style p {
    color: rgb(229, 234, 240);
}
.nav-link {
    color: rgb(169, 171, 173);
    font-weight: 600;
}
.tab-content {
    padding: 20px;
    padding-top: 0px;
}

button {
    margin-left: 25px;
}
.style-flex {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
 .py-5 {
     padding-top: 3px!important;
 }
 ul.nav-tabs {
     border: 0px solid gold;
 }
 ul > li:hover {
     background-color: #f8f9fa;
 }

.btn-group {
    display: flex;
    justify-content: center;
}

.edit {
    display: none!important;
}

.edit  .edit{
    display: initial!important;
}

.edit .noedit{
    display: none!important;
}


.containerHeading {
    margin-bottom: 20px;
}
#addMargin {
    margin-bottom: 10px;
}